<a href="https://colab.research.google.com/github/khixson1/Food_Sales_Prediction/blob/main/Food_Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Food_Sales_Predictions

Kim Hixson

In [350]:
# import pandas library
# upload sales_prediction.csv data
# read .csv into collaboratory
# check dataframe using head function

import pandas as pd
filename = "/content/drive/MyDrive/Colab Notebooks/Coding Dojo/Week_1/Data_Uploads/sales_predictions.csv"
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [351]:
# 1) How many rows and columns?

print("The dataset has {} rows and {} columns".format(df.shape[0], df.shape[1]))

The dataset has 8523 rows and 12 columns

In [353]:
# 2) What are the datatypes of each variable?

display(df.dtypes)

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [339]:
# 3) Are there duplicates? If so, drop any duplicates. (There seems to be no duplicate rows)

# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = df[df.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

df = df.drop_duplicates()

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [354]:
# 4) Identify missing values.

print(df.isnull().sum().sort_values(ascending = False))

null_df = df[df.isnull().any(axis = 1)]

null_df

Outlet_Size                  2410
Item_Weight                  1463
Item_Outlet_Sales               0
Outlet_Type                     0
Outlet_Location_Type            0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Item_MRP                        0
Item_Type                       0
Item_Visibility                 0
Item_Fat_Content                0
Item_Identifier                 0
dtype: int64

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07        19.20  ...      Grocery Store           732.3800
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
8              FDH17        16.20  ...  Supermarket Type1          1076.5986
9              FDU28        19.20  ...  Supermarket Type1          4710.5350
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
...              ...          ...  ...                ...                ...
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128
8508           FDW31        11.35  ...  Supermarket Type1          2587.9646
8509           FDG45         8.10  ...      Grocery Store           424.7804
8514           FDA01        15.00  ...  Supermarket Type1           468.7232
8519           FDS36         8.38  ...  Supermarket Type1           549.2850

[3873 rows x 12 columns]

In [355]:
null_df.groupby(['Outlet_Establishment_Year'])[['Item_Weight']].count()
df.groupby(['Outlet_Establishment_Year'])[['Item_Weight']].count()

                           Item_Weight
Outlet_Establishment_Year
1985                                 0
1987                               932
1997                               930
1998                               555
1999                               930
2002                               929
2004                               930
2007                               926
2009                               928

In [356]:
# 5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).
# 'Outlet_Size' defines Tier 3 Supermarkets as 'Medium' and Tier 1 Grocery Stores as 'Small'. It appears that only Supermaket Type 1 has NaN Outlet sizes but is listed with 
# a "High" Outlet Size elsewhere in the dataset. It seems appropriate to impute these 'Outlet_Size' NaN values as 'High'.
# Item_Weight also has missing values.  It appears as though the missing values only occur when 'Outlet_Establishment_Year' = 1985. Weight is probably
# similar between similar products from 1985 to 1987. It would perhaps be appropriate to impute the same weight for the same product from 1987 data. We can do 
# this by sorting the dataframe by item weight and year and then do a forward fill using the 1987 data.


# Imputation of Outlet_Size
df2 = pd.DataFrame(df.loc[:, 'Outlet_Size'].fillna('High'))
df['Outlet_Size'] = df2['Outlet_Size']

# Sort data based on item identifier, outlet establishment year and weight, and impute 1985 data with 1987 data
df_sort = df.sort_values(['Item_Identifier', 'Outlet_Establishment_Year', 'Item_Weight'], ascending=False)
df3 = pd.DataFrame(df_sort.loc[:, 'Item_Weight'].fillna(method='ffill'))
df['Item_Weight'] = df3['Item_Weight']
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [357]:
# 6) Confirm that there are no missing values after addressing them.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [358]:
# 7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent). 
# GroupBy of df shows that there are 3 different notations for low fat, and two notations for regular

df['Item_Fat_Content'].replace({'LF': 'Low Fat', 'low fat': 'Low Fat', 'reg': 'Regular'}, inplace=True)
df

df.groupby(['Item_Fat_Content']).count()

                  Item_Identifier  Item_Weight  ...  Outlet_Type  Item_Outlet_Sales
Item_Fat_Content                                ...
Low Fat                      5517         5517  ...         5517               5517
Regular                      3006         3006  ...         3006               3006

[2 rows x 11 columns]

In [359]:
# 8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

# Separating numerical data in df
df.dtypes == 'object'

num_vars = df.columns[df.dtypes != 'object']

# Showing summary statistics of each
df[num_vars].describe()

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     12.873262  ...        2181.288914
std       4.646486  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.785000  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]